---
permalink: /people/
title: "People"

layout: splash
---
<p></p>

<h1>People</h1>

<hr>

<h2>PIs</h2>

<div class="grid-container">
  
  {% for person in site.data.pi %}
  <div class="grid-item">
    <a href="{{ person.profile | relative_url }}">
      <img src="{{ person.photo | relative_url }}">
    <div>
      {{ person.name }}
    </div>
    <div>
      {{ person.field }}
    </div>
    </a>
  </div>
  {% endfor %}
  
</div>

<p></p>

<hr>
<h2>Researchers</h2>
<hr>

<p></p>

<div class="grid-container">
  
  {% for person in site.data.people %}
  <div class="grid-item">
    <a href="{{ person.profile | relative_url }}">
      <img src="{{ person.photo | relative_url }}">
    <div>
      {{ person.name }}
    </div>
    <div>
      {{ person.field }}
    </div>
    </a>
  </div>
  {% endfor %}
  
</div>

<p></p>

<hr>

<h2>Historical Experts Panel</h2> 

<hr>

<div class="grid-container">
  
  {% for person in site.data.experts %}
  <div class="grid-item">
    <a href="{{ person.profile | relative_url }}">
      <img src="{{ person.photo | relative_url }}">
    <div>
      {{ person.name }}
    </div>
    <div>
      {{ person.field }}
    </div>
    </a>
  </div>
  {% endfor %}
  
</div>

<hr>
<h2>Research Assistants</h2>
<hr>
