.hero {
    position: relative;
}

.hero::before {
    content: "";
    background-image: url("/assets/images/home_page_image.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}
