.people {
  display: table-cell;
  vertical-align: top;
  width: 36px;
  height: 36px;

    @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
    opacity: 0.75;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }

  img {
    max-width: 110px;
    border-radius: 50%;

    @include breakpoint($large) {
      padding: 5px;
      border: 1px solid $border-color;
    }
  }
}
