.grid-container {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(min(50%, 200px), 1fr) );
 /* grid-template-columns: 1fr 1fr 1fr; */
 /* grid-gap: 3.3vw 3.3vw; */
  padding-left: 5vw;
  padding-right: 5vw;
}
  .grid-item {
    padding: 1.3vw;
    font-size: min(4vw, 15px);
    text-align: center;
    box-sizing: border-box;
    opacity: 1;
    transition: 0.5s ease;

    &:hover {
      opacity: 0.3;
    }
    
    a {
    color: inherit;
    text-decoration: none;
    }
    
  }

 .grid-item-media {
    padding: 1.3vw;
    font-size: min(4vw, 15px);
    text-align: center;
    box-sizing: border-box;
    
    a {
    color: inherit;
    text-decoration: none;
    }
    
  }

  .grid-container > div img{
    max-width: 100%;
    min-width: 100%;
    padding: 0.5vw;
    border-radius: 50%;
    border: 0.06vw solid $border-color;
    object-fit: contain;
    }

.grid-container-media {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(min(50%, 200px), 1fr) );
 /* grid-template-columns: 1fr 1fr 1fr; */
 /* grid-gap: 3.3vw 3.3vw; */
  padding-left: 5vw;
  padding-right: 5vw;
}

  .grid-container-media > div img{
    max-width: 100%;
    min-width: 100%;
    padding: 0.5vw;
    border: 0.06vw solid $border-color;
    object-fit: contain;
    }


.people-title {
    padding-left: 6.3vw;
    padding-top: 2vw;
    padding-bottom: 3vw;
    font-weight: bold;
    font-size: min(8vw, 30px);
}

.people-contents {
  display: block;
  grid-template-columns: repeat(4, 1fr);
  position: absolute; 
  top: 75%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 100%;
  text-align: center;
}


.people-contents a {
  font-size: min(8vw, 22px);
  color: #6f777d;
  text-decoration: none;
  position: relative;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.people-contents a:before {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   height: 4px;
   background: $primary-color;
   width: 100%;
   transition: $global-transition;
   transform: scaleX(0) translate3d(0, 0, 0); // hide
}

.people-contents a:hover:before {
   transform: scaleX(1); // reveal
      }

